---
import Layout from "src/layouts/Layout.astro";
---
<Layout title="404">
    <main>
        <h1>404</h1>
        <p>Page not found</p>
        <p class="gr">Η σελίδα δεν βρέθηκε</p>
    </main>
</Layout>

<style>
    main {
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 1.5em;
    }
</style>