---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Where is Eleni?">
	<main id="app">
    <h1>Where is Eleni?</h1>
    
		<p class="subtitle">
      Follow along on my travel journey.
    </p>
  </main>
</Layout>

<style is:global>
  #app {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }
  .subtitle {
    font-size: 1.25em;
    font-weight: 300;
  }
</style>
